/***    General     ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "", sans-serif;
    max-width: 100%;
    position: relative;
}

body {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
}

.m-5-auto {
    margin: 5rem auto
}

.primary-button {
    display: block;
    width: 45%;
    padding: .3rem;
    border: none;
    background: #3c8b3c;
    color: #fff;
    border-radius: 3px;
    float: right;
}

.logo {
    margin: -50px;
    padding: 10px;
    width: 500px;
    height: 249px;
    overflow: visible;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-handler {
    display: flex;
    justify-content: center;
}

/***    Login Page     ***/

form {
    display: inline-block;
    background: #1f1e1e;
    border: 1px solid #1f1e1e;
    padding: 2rem;
    margin: 0rem 0 1rem 0
}

form label {
    float: left;
    color: white;
    font-size: .9rem;
    margin: 0;
    padding: 0
}

nav a:hover{
    color: rgb(255, 251, 251);
    background-color: rgb(59, 59, 59);
}

nav a:active{
    color: rgb(59, 59, 59);
    background-color: #3c8b3c;
}

nav a:focus{
    background-color: rgb(66, 65, 65);
}

.navbar-nav {
    margin: auto;
}

.nav-link {
    background-color: #1f1e1e;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
    color: rgb(255, 254, 254);
}

.nav-post {
    margin: auto;
    background-color: #3c8b3c;
}

.right-label {
    float: right;
    color: rgb(175, 175, 174);
    cursor: pointer
}

.info-text1 h2 {
    margin: 30px;
    text-align: center;
}

.info-text1 {
    margin: 10px;
}

.info-text h2 {
    margin: 30px;
    text-align: center;
}

.info-text {
    margin: 10px;
}

.info-text p {
    width: 500px;
    margin-top: 75px;
    font-size: medium;
    text-align: center;
    line-height: 1.5;
    display: flex;
}

.info-text div, h2, p {
    color: rgb(247, 236, 236);
}

.btn {
    text-align: center;
    width: 15%;
    margin: 200px;
    padding: auto;
    height: 100px;
    float: none;
    background-color: #3c8b3c;
}

h1 {
    text-align: center;
    display: block;
    margin-top: 100px;
    color: white;
    height: 0;
    font-size: 36px;
}

.btn-left {
    text-align: center;
    width: 15%;
    margin-top: 200px;
    margin-left: 250px;
    padding: auto;
    height: 100px;
    float: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #3c8b3c;
}

.btn-t1 {
    text-align: center;
    width: 10vh;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 0px;
    padding: auto;
    height: max-content;
    float: inline-start;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #1f1e1e;
}

.btn-t1:hover {
    color: #3c8b3c;
}

.btn-t {
    text-align: center;
    width: 10vh;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 0px;
    padding: auto;
    height: max-content;
    float: inline-start;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #1f1e1e;
}

.btn-t:hover {
    color: #3c8b3c;
}

input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none
}

#send_btn {
    display: block;
    float: right;
    width: 100%;
    margin: 0;
    padding: .3rem;
    border: none;
    background: #3c8b3c;
    color: #fff;
    border-radius: 3px;
}

#send_btn:hover {
    background: #333;
    transition: all .5s
}

#sub_btn {
    display: block;
    float: left;
    width: 45%;
    margin: 0;
    padding: .3rem;
    border: none;
    background: #3c8b3c;
    color: #fff;
    border-radius: 3px;
}

#sub_btn:hover {
    background: #333;
    transition: all .5s
}

footer p {
    margin: 0;
    font-size: .9rem
}

#checkbox {
    width: 1rem
}

#reg_btn{
    display: block;
    float: right;
    width: 45%;
    margin: 0;
    padding: .3rem;
    border: none;
    background: #3c8b3c;
    color: #fff;
    border-radius: 3px;
}

#reg_btn:hover {
    background: #333;
    transition: all .5s
}

#team_btn1 {
    display: block;
    float: left;
    width: 200px;
    margin-top: 125px;
    margin-left: 700px;
    padding: 15px;
    border: none;
    background: #3c8b3c;
    color: #fff;
    border-radius: 3px;
}

#team_btn2 {
    display: block;
    float: right;
    width: 200px;
    margin-top: 125px;
    margin-right: 700px;
    padding: 15px;
    border: none;
    background: #3c8b3c;
    color: #fff;
    border-radius: 3px;
}

form span {
    font-size: .8rem
}

#reset_pass_lbl {
    float: left
}

th.makeStyles-tableHeaderCell-3 {
    color:#1f1e1e;
}

div.submit-form {
    left: 50;
}

/***    Home Page     ***/
.home-page-title {
    color: #222
}